section {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.songs-list-section {
  height: 100vh;
  width: 100vw;
}

.songs-list-section h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  height: 8vh;

  text-transform: uppercase;
}

.scrollable-inner {
  width: 100%;
  height: 85vh;

  overflow-y: scroll;
  font-size: 3.2rem;
}

.song-name {
  height: 3.6rem;
  width: 100%;
  padding-left: 2rem;

  display: flex;
  align-items: center;
}

.selected-song {
  color: red;
}

.button {
  position: absolute;

  background: transparent;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 100rem;

  height: 5rem;
  width: 5rem;
}

.button-done {
  bottom: 3rem;
  right: 3rem;
}

.button-menu {
  border: none;
  height: 4rem;
  width: 4rem;

  top: 2rem;
  left: 2rem;
}
