.song-info-section {
  width: 100vw;
}

.song-info-section h1 {
  font-size: 3rem;
  margin-top: 2rem;
  height: 6rem;
}

.song-info-section span {
  color: red;
}

.song-info-section .button-back {
  top: 1.5vh;
}

.text-area {
  background: black;
  width: 90%;
  height: 85vh !important;
  padding: 5px;

  font-family: "sofia";
  color: white;
  font-size: 3rem;

  resize: none;
  overflow-y: scroll;

  transition: all 0.2s linear;
}

.text-area:focus {
  outline: none;
  border: 1px solid red;
}
