.menu-section {
  height: 100vh;
  width: 100vw;
  background-color: black;
  text-align: center;
}

.menu-section h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  text-transform: uppercase;
  color: red;
}

.footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.2);
}

.description {
  position: absolute;
  top: 78vh;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.2);
}

.accordeon-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.accordeon-item {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 1rem; */
  /* height: auto; */
}

.accordeon-item-title {
  display: flex;
  height: 3.4rem;
  padding-bottom: 1rem;
  transition: all 0.5s ease;
}

.accordeon-item p {
  font-size: 3.2rem;
  align-self: center;
}

.accordeon-container svg {
  transform: scale(0.6) rotate(90deg);
  margin-left: 2rem;
  transition: all 0.2s ease;
}

.underlined {
  border-bottom: 1px solid red;
  transition: all 0.5s ease;
}

.svg-rotated {
  transform: scale(0.6) rotate(-90deg) !important;
}

.accordeon-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  border-bottom: 1px solid red;
  transition: all 0.2s ease;
}

.input {
  align-self: center;
  justify-self: center;
  height: 3.6rem;

  border: 1px solid white;
  border-radius: 4px;
  padding-left: 1rem;

  font-family: "sofia";
  font-size: 1.8rem;
  color: #3d3d3d;
  font-weight: 600;

  transition: all 0.2s linear;
}

.input:focus {
  border: 1px solid red;
  outline: none;
  box-shadow: 1px 1px 4px 3px rgba(255, 255, 255, 0.089);
}

.input::placeholder {
  font-family: "sofia";
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.input-song-name {
  grid-row: 1;
  grid-column: 1;
}

.input-song-key-of {
  grid-row: 1;
  grid-column: 2;
}

.button-add {
  position: relative;
  height: 4rem;
  width: 92%;

  margin-top: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;
  align-self: center;

  border: 1px solid red;
  border-radius: 4px;

  grid-row: 2;
  grid-column: 1/-1;

  font-family: "sofia";
  font-size: 3.2rem;
  color: red;
  font-weight: 400;

  transition: all 0.2s linear;
}

.button-add:active {
  background: red;
  color: black;
}

.hide {
  transform: translateY(-50%) scaleY(0) !important;
  opacity: 1 !important;
}

.button-delete-selected {
  position: absolute;
  top: 70vh;
  width: 90vw;
  height: 5rem;
  margin-left: 5vw;

  background: transparent;
  border: 1px solid red;
  border-radius: 10px;

  font-size: 3.2rem;
  color: red;
  font-family: "sofia";

  transition: all 0.2s linear;
}

.button-delete-selected:active {
  background: red;
  color: black;
}
