:root {
  --tick: 0.2s;
}

.set-list-section .song {
  cursor: grab;
  touch-action: none;
  position: relative;

  margin-left: 4rem;
  width: 90vw;
}

.pharagraph {
  max-width: 60%;
}

.button-metronome {
  height: 2.7rem;
  width: 2.7rem;
  border: none;

  right: 7.6rem;

  color: rgba(167, 167, 167, 0.418);
  fill: rgba(167, 167, 167, 0.418);
}

@keyframes example {
  from {
    color: rgba(167, 167, 167, 0.418);
    fill: rgba(167, 167, 167, 0.418);
  }
  to {
    color: red;
    fill: red;
  }
}

.metronome-animation {
  animation: example var(--tick) linear infinite alternate;
}

/* .button-metronome svg {
  color: red;
  fill: red;
  color: rgba(167, 167, 167, 0.418);
} */

.button-delete {
  height: 2.4rem;
  width: 2.4rem;
  border: none;

  right: 2rem;

  color: rgba(167, 167, 167, 0.418);
}

.keyOf {
  color: red;
  font-weight: 700;
}

.button-show-addInfo {
  touch-action: none;
  height: 2.4rem;
  width: 2.4rem;
  border: none;

  right: 4.8rem;

  color: rgba(167, 167, 167, 0.418);
}
