.song {
    touch-action: none;
    position: relative;
}

.pharagraph {
    max-width: 60%;
}

.button-delete {
    height: 2.4rem;
    width: 2.4rem;
    border: none;

    right: 4rem;

    color: rgba(167, 167, 167, 0.418)
}

.keyOf{
    color: red;
    font-weight: 700;
}